.codeBlockContainer {
    display: flex;
    flex-direction: column;
}
hr {
    border: 1px solid var(--secondary);
    width: 100%;
}
li {
    display: block;
}
p {
    color: var(--main);
}

.functionContainer {
    display: flex;
    justify-content: space-evenly;
}
.menuDivider {
    color: var(--secondary);
}
