body {
    background: #131313;
}
:root {
    --main: white;
    --secondary: #ffa500;
}
.App {
}
.headerContainer {
    display: flex;
    align-items: center;
}
.header {
    color: var(--main);
    text-align: center;
    font-size: 3rem;
    padding-top: 15px 0px 15px 0px;
    background: var(--secondary);
    width: 100%;
}
h1,
h3 {
    color: var(--main);
}
.mainContent {
    padding: 2% 5% 0% 5%;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
}
a {
    padding: 10px;
    color: var(--secondary);
}
.footer {
    background: var(--main);
}
