body {
    background: #131313;
}
:root {
    --main: white;
    --secondary: orange;
}
.App {
}
.header {
    color: var(--main);
    text-align: center;
    font-size: 3rem;
}
h1,
h3 {
    color: var(--main);
}
